<% include ../../partials/header %>

<div class="container card">
    <h1 style="display: table;">News <span class="badge badge-dark"><%= post.length%></span></h1>
    <span class="text-right"><a class="btn btn-sm btn-outline-dark" href="/secure/news/new">Add post</a></span>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
             <!-- Default panel contents -->
              <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                          <th>#</th>
                          <th>Author</th>
                          <th>Date</th>
                          <th>Title</th>
                          <th></th>
                          <th></th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <% post.forEach(function(post){ %>
                      <tr>
                          <th scope="row"><%= post._id %></th>
                          <td><%= post.author.username %></td>
                          <td><%= post.created.toDateString() %></td>
                          <td><%= post.title %></td>
                          <td><a class="btn btn-sm btn-outline-dark" href="/secure/news/<%=post._id%>">Show</a></td>
                          <td><a class="btn btn-sm btn-outline-dark" href="/secure/news/<%=post._id%>/edit">Edit</a></td>
                          <td><form id="delete" action="/secure/news/<%=post._id%>?_method=DELETE" method="POST"><button class="btn btn-sm btn-danger">Remove</button></form></td>
                      </tr>
                      <% }); %>
                  </tbody>
              </table>
            </div>
        </div>
    </div>
    
</div>

<% include ../../partials/footer %>