<% include ../../partials/header %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 style="float: left;">Edit: <%=user.username%></h2>
            <a href="/secure/users/" class="btn btn-sm btn-outline-dark" style="float: right;">Go Back</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <% if(user.role === 0){ %>
                        <div class="alert alert-danger" role="alert">
                            <%=user.firstName%> is currently banned/inactive. %>
                        </div>
                    <% } %>
                    <form action="/secure/users/<%= user._id %>?_method=PUT" method="POST">
                        <div class="form-group row">
                            <label for="username" class="col-sm-2 col-form-label">Username</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="<%=user.username%>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputFirstName" value="<%=user.firstName%>" name="user[firstName]" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputLastName" value="<%=user.lastName%>" name="user[lastName]" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputAvatar" class="col-sm-2 col-form-label">Avatar URL</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputAvatar" value="<%=user.avatar%>" name="user[avatar]" required>
                                <small class="form-text text-muted">Use an URL to an image!</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputDOB" class="col-sm-2 col-form-label">Date of Birth</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputDOB" value="<%=user.birth%>" name="user[birth]" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail" value="<%=user.email%>" name="user[email]" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputDepartment" class="col-sm-2 col-form-label">Department</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="user[department]" required>
                                    <% if(user.department === undefined) { %>
                                        <option disabled selected>Current: No department found!</option>
                                    <% } else { %>
                                        <option disabled selected>Current: <%= user.department %></option>
                                    <% } %>
                                    <option value="Customer Service">Marketing</option>
                                    <option value="Web Development">Web Development</option>
                                    <option value="Customer Service">Customer Service</option>
                                    <option id="esportOption" value="eSport">eSport</option>
                                    <% if(currentUser.role === 3) { %>
                                    <option value="Co-Founder">Co-Founder</option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputJob" class="col-sm-2 col-form-label">Job</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="user[job]" required>
                                    <% if(user.job === undefined) { %>
                                        <option disabled selected>Current: No job found!</option>
                                    <% } else { %>
                                        <option disabled selected>Current: <%= user.job %></option>
                                    <% } %>
                                    <option value="Customer Service">Customer Service</option>
                                    <option value="eSports Coach">eSports Coach</option>
                                    <option value="eSports Player">eSports Player</option>
                                    <option value="Developer">Developer</option>
                                    <option value="Executive Assistant">Executive Assistant</option>
                                    <option value="Management">Management</option>
                                </select>
                            </div>
                        </div>
                        
                        <!--If user is eSport show this-->
                        <% if(user.department === "eSport") { %>
                        <div class="form-group row">
                            <label for="inputEsportGame" class="col-sm-2 col-form-label">eSports Game</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="user[game]" required>
                                    <% if(user.game === undefined) { %>
                                        <option disabled selected>Please add player to game!</option>
                                    <% } else { %>
                                        <option disabled selected>Current: <%= user.game %></option>
                                    <% } %>
                                    <option value="Fortnite">Fortnite</option>
                                    <option value="League of Legends">League of Legends</option>
                                    <option value="CSGO">CSGO</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEsportPosition" class="col-sm-2 col-form-label">eSports Position</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="user[gamePosition]" required>
                                    <% if(user.gamePosition === undefined) { %>
                                        <option disabled selected>Please add player to game position!</option>
                                    <% } else { %>
                                        <option disabled selected>Current: <%= user.gamePosition %></option>
                                    <% } %>
                                    <option value="Bottom">Bottom</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEsportTeamLeader" class="col-sm-2 col-form-label">eSports Position</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="user[gameTeamLeader]" required>
                                    <% if(user.gamePosition === undefined) { %>
                                        <option disabled selected>Give player TL role or not!</option>
                                    <% } else { %>
                                        <option disabled selected>Current: <%= user.gameTeamLeader %></option>
                                    <% } %>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <% } %>
                        <!-- End if user is esport -->
                        
                        <div class="form-group row">
                            <label for="inputRole" class="col-sm-2 col-form-label">Role</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="user[role]" required>
                                    <% if(user.role === 0){ %>
                                        <option disabled>Current: <strong><span style="color: red;">Banned/Inactive</span></strong></option>
                                    <% } else if(user.role === 1){ %>
                                        <option disabled selected>Current: eSports Player</option>
                                    <% } else if(user.role === 2){ %>
                                        <option disabled selected>Current: Employee</option>
                                    <% } else if(user.role === 3){ %>
                                        <option disabled selected>Current: Management</option>
                                    <% } else { %>
                                        <option disabled selected>User has no role yet!</option>
                                    <% }; %>
                                    <option value="0">Banned/inactive</option>
                                    <option value="1">eSports Player</option>
                                    <option value="2">Employee</option>
                                    <option value="3">Management</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-dark">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footer %>