<% include ../../partials/header %>
<div class="container">
    
    <div class="card">
        <div class="row">
            <div class="col-md-9">
                <div class="container no-margin">
                    <h1 class="no-margin"><%=user.firstName%> <%=user.lastName%></h1>
                    <% if(user.role === 0){ %>
                        <small class="text-form" style="color: red;"><strong>This user is currently inactive</strong></small>
                    <% } else { %>
                        <small class="text-form text-muted">Position: <%=user.job%></small>
                        <hr>
                        <a href="/secure/users" class="btn btn-outline-dark">Go Back</a>
                        <a href="/secure/users/<%=user._id%>/edit" class="btn btn-outline-dark">Edit</a>
                    <% } %>
                    <% if(currentUser.role === 3 && user.role === 0) { %>
                        <hr>
                        <a href="/secure/users" class="btn btn-outline-dark">Go Back</a>
                        <a href="/secure/users/<%=user._id%>/edit" class="btn btn-outline-dark">Edit</a>
                    <% } %>
                </div>
            </div>
            <div class="col-md-3">
                <div class="container no-margin">
                    <img class="imgAvatar" src="<%=user.avatar%>">
                </div>
            </div>
        </div>
    </div>
  <br>
  <div class="row">
      <div class="col-md-4">
          <div class="card">
              <div class="card-header">
                  <strong>General Information</strong>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong>Created:</strong> <span class="userfloatRight"><%=user.created.toDateString()%></span> </li>
                  <li class="list-group-item"><strong>Username:</strong> <span class="userfloatRight"><%=user.username%></span></li>
                  <li class="list-group-item"><strong>Full Name:</strong> <span class="userfloatRight"><%=user.firstName%> <%=user.lastName%></span></li>
                  <li class="list-group-item"><strong>Email:</strong>  <span class="userfloatRight"><%=user.email%></span></li>
                  <li class="list-group-item"><strong>Date of Birth:</strong>  <span class="userfloatRight"><%=user.birth.toDateString()%></span></li>
                  <li class="list-group-item"><strong>Department:</strong>  <span class="userfloatRight"></span></li>
                  <li class="list-group-item"><strong>Job:</strong>  <span class="userfloatRight"><%=user.job%></span></li>
                  <li class="list-group-item"><strong>Role:</strong>  <span class="userfloatRight"><%=user.role%></span></li>
              </ul>
          </div>
          <br>
          <% if(user.role === 1){ %>
          <div class="card">
              <div class="card-header">
                  <strong>eSports info</strong>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong>Game:</strong> <span class="userfloatRight">test</span></li>
                  <li class="list-group-item"><strong>Position:</strong> <span class="userfloatRight">test</span></li>
                  <li class="list-group-item"><strong>Team Leader:</strong> <span class="userfloatRight">test</span></li>
              </ul>
          </div>
          <% } %>
          <br>
          <div class="card">
              <div class="card-header">
                  <strong>Life Quote</strong>
              </div>
              <div class="card-body">
                  Quote goes here..
              </div>
          </div>
      </div>
      <div class="col-md-8">
          <div class="card">
              <div class="card-header">
                  <strong>Bio</strong>
              </div>
              <div class="card-body">
                  Bio about person goes here..
              </div>
          </div>
          <br>
          <div class="card">
              <div class="card-header">
                  <strong><%=user.firstName%>'s Logs</strong>
              </div>
              <div class="card-body">
                  All logs go here..
              </div>
          </div>
      </div>
  </div>
<% include ../../partials/footer %>