<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="<%=currentUser.avatar%>" alt="Card image cap">
        <div class="card-body">
          <label>Hi, <%=currentUser.firstName%></label>
          <small class="form-text"><i><%=currentUser.job%>, <%=currentUser.department%></i></small>
          <hr>
          <a href="/secure/users/<%=currentUser._id%>" class="btn btn-light btn-sm" role="button" aria-pressed="true">Profile</a>
          <a href="/logout" class="btn btn-light btn-sm" role="button" aria-pressed="true">Log out</a>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card mb-3">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1505236858219-8359eb29e329?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d14a810136c7528ba19f04ff77b8130d&auto=format&fit=crop&w=2630&q=80" alt="Test">
        <div class="card-body">
          <h5 class="card-title">Version V0.2</h5>
          <p class="card-text">The new UI is here with new features.</p>
          <h5>Features</h5>
          <ul>
            <li>Authentication</li>
            <li>News System</li>
            <li>Team Player System</li>
            <li>User System</li>
          </ul>
          <p>Please contact <a href="mailto:ricardo@ricardobos.com">Ricardo Bos</a> for any assistance</p>
          <p class="card-text"><small class="text-muted">Posted by: Ricardo Bos on May 20th 2018</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>